<h1>Stories</h1>
<div class="row">
    {{#each Stories}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image">
                    <a href="/stories/edit/{{id}}" class="btn-floating halfway-fab red"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                </div>
                <div class="card-content center-align">
                    <h5>{{name}}</h5>
                    <p>{{stripTags (truncate body)}}</p>
                    <br>
                    <div class="chip">
                        <img src="{{user.image}}" alt="Writer">
                        {{user.name}}
                    </div>
                </div>
                <div class="card-action center-align">
                    <a class="btn grey" href='/stories/show/{{id}}'>Read more >></a>
                </div>
            </div>
        </div>
    {{else}}
        <h2>No Stories</h2>
    {{/each}}
</div>