<h1 class="center-align">Stories</h1>
<div class="row">
    {{#each Stories}}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    {{{editIcon user.id ../user.id id}}}
                </div>
                <div class="card-content center-align">
                    <h5 class="story-header">{{truncate name 40}}</h5>
                    <p class="story-body">{{stripTags (truncate body 150)}}</p>
                    <br>
                    <a href="/stories/user/{{user.id}}">
                    <div class="chip">
                        <img src="{{user.image}}" alt="Writer">
                        {{user.name}}
                    </div>
                    </a>
                </div>
                <div class="card-action center-align">
                    <a class="btn grey" href='/stories/show/{{id}}'>Read more >></a>
                </div>
            </div>
        </div>
    {{else}}
        <h2>No Stories</h2>
    {{/each}}
</div>